body {
	padding: 0;
	margin: 0;
	font-family: "PT Sans";
	overflow-x: hidden;
}

h1 {
	font-size: 32px;
	line-height: 32px;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #010101;
}

header,
article,
footer {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;

	.wrapper {
		width: 940px;
	}
}

.slider {
	height: 100px;
	overflow-x: hidden;
	position: relative;
	flex-grow: 1;
	margin-bottom: 50px;

	.slides {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		height: 100%;
		flex-wrap: nowrap;
	}
	.slide {
		height: 100%;
		min-width: 100%;

		&#slide1 {
			background-color: red;
		}

		&#slide2 {
			background-color: green;
		}

		&#slide3 {
			background-color: blue;
		}
	}

	.slide-bullets {
		position: absolute;
		width: 100%;
		height: 10px;
		bottom: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.bullet {
			input {
				display: none;
			}

			label {
				display: block;
				width: 10px;
				height: 100%;
				border-radius: 100%;
				background-color: #ffffff80;
				transition: .3s;
			}

			input:checked + label {
				background-color: #fff;
			}
		}
	}
}

header {
	background-color: #fcdb00;

	.menu {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		margin: 60px 0;

		.logo {
			display: flex;
			align-items: center;

			span {
				font-size: 30px;
				font-weight: bold;
				color: #010101;
				margin-left: 10px;
			}
		}

		.items {
			font-size: 22px;
			display: flex;
			align-items: center;

			a:nth-child(2) {
				margin: 0 70px;
			}
		}
	}
}

article {
	h1 {
		margin-top: 118px;
		margin-bottom: 17px;
	}

	h2 {
		padding: 0 105px;
		text-align: center;
		margin-bottom: 91px;
	}

	h1, h2 {
		text-align: center;
	}

	.features {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;

		.block {
			max-width: 270px;
			width: 33.3%;
			margin-bottom: 87px;

			.icon {
				padding: 5px 30px 0 15px;
				height: 100%;
				float: left;
				max-width: 33px;

				img {
					float: right;
				}
			}

			.header {
				font-size: 22px;
				font-weight: 24px;
				margin-bottom: 15px;
				margin-top: 3px;
				color: #010101;
			}

			.descriptiopn {
				color: #898989;
				font-size: 16px;
			}
		}
	}
}

footer {
	background-color: #010101;
}